.page{
    width: 100%; 
    float: left;
    min-height: 400px !important;
    background: #fff;
    padding: 0 0 20px 0;
}

.page .page_titulo{
    font-size: 30px;
    text-align: center;
    padding: 20px 0;
    width: 100%;
    margin: 20px 0;
    font-weight: 800;
}

.page p{
    font-weight: 300;
}








/*PARTE DE CONTATO*/
.contato_tel{
    font-size: 30px;
    font-weight: 300;
    text-align: center;
}

.contato_mail{
    font-size: 14px;
    font-weight: 300;
    text-align: center;
}

.contato_end{
    font-size: 15px;
    font-weight: 300;
    text-align: center;
    margin: 5px 0 20px 0;
}







@media(min-width:1024px){
    .contato_tel{
        font-size: 30px;
        font-weight: 300;
    }
    
    .contato_mail{
        font-size: 20px;
        font-weight: 300;
    }

    .contato_end{
        font-size: 20px;
        font-weight: 300;
        margin: 30px 0 10px 0;
    }

}